In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
df=pd.read_csv('https://raw.githubusercontent.com/sunnysavita10/credit_card_pw_hindi/main/creditCardFraud_28011964_120214.csv')

In [ ]:
df.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,50000,1,2,1,57,-1,0,-1,0,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0
1,50000,1,1,2,37,0,0,0,0,0,...,19394,19619,20024,2500,1815,657,1000,1000,800,0
2,500000,1,1,2,29,0,0,0,0,0,...,542653,483003,473944,55000,40000,38000,20239,13750,13770,0
3,100000,2,2,2,23,0,-1,-1,0,0,...,221,-159,567,380,601,0,581,1687,1542,0
4,140000,2,3,1,28,0,0,2,0,0,...,12211,11793,3719,3329,0,432,1000,1000,1000,0

In [ ]:
df['default payment next month'].value_counts()

0    787
1    214
Name: default payment next month, dtype: int64

In [ ]:
from sklearn.utils import resample
minor=df[df['default payment next month']==1]
mejor=df[df['default payment next month']==0]

upsample_minor=resample(minor,n_samples=500,replace=True,random_state=0)

In [ ]:
upsample_minor['default payment next month'].value_counts()

1    500
Name: default payment next month, dtype: int64

In [ ]:
df=pd.concat([df,upsample_minor])

In [ ]:
df.columns

Index(['LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0', 'PAY_2',
       'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'default payment next month'],
      dtype='object')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1501 entries, 0 to 528
Data columns (total 24 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   LIMIT_BAL                   1501 non-null   int64
 1   SEX                         1501 non-null   int64
 2   EDUCATION                   1501 non-null   int64
 3   MARRIAGE                    1501 non-null   int64
 4   AGE                         1501 non-null   int64
 5   PAY_0                       1501 non-null   int64
 6   PAY_2                       1501 non-null   int64
 7   PAY_3                       1501 non-null   int64
 8   PAY_4                       1501 non-null   int64
 9   PAY_5                       1501 non-null   int64
 10  PAY_6                       1501 non-null   int64
 11  BILL_AMT1                   1501 non-null   int64
 12  BILL_AMT2                   1501 non-null   int64
 13  BILL_AMT3                   1501 non-null   int64
 14  BILL_AMT4                   1501 non-null   int64
 15  BILL_AMT5                   1501 non-null   int64
 16  BILL_AMT6                   1501 non-null   int64
 17  PAY_AMT1                    1501 non-null   int64
 18  PAY_AMT2                    1501 non-null   int64
 19  PAY_AMT3                    1501 non-null   int64
 20  PAY_AMT4                    1501 non-null   int64
 21  PAY_AMT5                    1501 non-null   int64
 22  PAY_AMT6                    1501 non-null   int64
 23  default payment next month  1501 non-null   int64
dtypes: int64(24)
memory usage: 293.2 KB

In [ ]:
df.isnull().sum()

LIMIT_BAL                     0
SEX                           0
EDUCATION                     0
MARRIAGE                      0
AGE                           0
PAY_0                         0
PAY_2                         0
PAY_3                         0
PAY_4                         0
PAY_5                         0
PAY_6                         0
BILL_AMT1                     0
BILL_AMT2                     0
BILL_AMT3                     0
BILL_AMT4                     0
BILL_AMT5                     0
BILL_AMT6                     0
PAY_AMT1                      0
PAY_AMT2                      0
PAY_AMT3                      0
PAY_AMT4                      0
PAY_AMT5                      0
PAY_AMT6                      0
default payment next month    0
dtype: int64

In [ ]:
df.drop(['LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE'],axis=1,inplace=True)

In [ ]:
df['default payment next month'].value_counts()

0    787
1    714
Name: default payment next month, dtype: int64

In [ ]:
# # let's have a look at the distribution first 50 sensors of Wafers

# plt.figure(figsize=(15, 100))

# for i, col in enumerate(df.columns[1:51]):
#     plt.subplot(60, 3, i+1)
#     sns.distplot(x=df[col], color='indianred')
#     plt.xlabel(col, weight='bold')
#     plt.tight_layout()

## Feature Enggearing

In [ ]:
x=df.iloc[:,:-1]
y=df.iloc[:,-1]

In [ ]:
from sklearn.model_selection import KFold,train_test_split
kf=KFold(n_splits=5,shuffle=True,random_state=42)

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=0)

In [ ]:
from sklearn.impute import KNNImputer
from sklearn.preprocessing import RobustScaler

In [ ]:
from sklearn.pipeline import Pipeline

In [ ]:
preprocess=Pipeline(
    steps=[
        ('impute',KNNImputer(n_neighbors=8,missing_values=np.nan)),
        ('scaler',RobustScaler())
    ]
)

In [ ]:
x_train_sc=preprocess.fit_transform(x_train)
x_test_sc=preprocess.transform(x_test)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import AdaBoostClassifier,BaggingRegressor,GradientBoostingClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier

In [ ]:
models = {
    'Random Forest': RandomForestClassifier(),
    'SVM': SVC(),
    'K-Nearest Neighbors': KNeighborsClassifier(),
    'Logistic Regression': LogisticRegression(),
    'Adaboost': AdaBoostClassifier(),
    'gradient boost': GradientBoostingClassifier(),
    'Gaussian': GaussianNB(),
    'Desision Tree':DecisionTreeClassifier()
}

In [ ]:
from sklearn.metrics import accuracy_score

for i in range(len(models)):
    model = list(models.values())[i]

    model.fit(x_train_sc, y_train)
    y_pred = model.predict(x_test_sc)
    Accuracy_model = accuracy_score(y_test, y_pred) * 100

    print(f"Model name: {list(models.keys())[i]}")
    print(f'Accuracy of the model: {Accuracy_model}')

    print('=======================================')

Model name: Random Forest
Accuracy of the model: 89.09574468085107
=======================================
Model name: SVM
Accuracy of the model: 64.36170212765957
=======================================
Model name: K-Nearest Neighbors
Accuracy of the model: 67.5531914893617
=======================================
Model name: Logistic Regression
Accuracy of the model: 68.35106382978722
=======================================
Model name: Adaboost
Accuracy of the model: 73.93617021276596
=======================================
Model name: gradient boost
Accuracy of the model: 78.98936170212765
=======================================
Model name: Gaussian
Accuracy of the model: 59.308510638297875
=======================================
Model name: Desision Tree
Accuracy of the model: 81.64893617021278
=======================================

In [ ]:
from sklearn.model_selection import GridSearchCV

## Another way Hyperparameter Tuning

In [ ]:
classifiers = {
    'RandomForest': (RandomForestClassifier(), {
        'n_estimators': [50, 100, 200],
        'max_depth': [None, 10, 20, 30],
        'min_samples_split': [2, 5, 10],
        'min_samples_leaf': [1, 2, 4]
    }),
    'SVM': (SVC(), {
        'C': [0.1, 1, 10],
        'kernel': ['linear', 'rbf', 'poly'],
        'gamma': ['scale', 'auto']
    }),
    'GradientBoosting': (GradientBoostingClassifier(), {
        'learning_rate': [0.01, 0.1, 0.2],
        'n_estimators': [50, 100, 200],
        'max_depth': [3, 4, 5],
        'subsample': [0.8, 1.0]
    }),
    'KNN':(KNeighborsClassifier(),{
        'n_neighbors': [3, 5, 7],
        'weights': ['uniform', 'distance'],
        'p': [1, 2],
        'algorithm': ['auto', 'ball_tree', 'kd_tree', 'brute'],
    }),
    'Logistic Regrrassion':(LogisticRegression(),{
        'penalty': ['l1', 'l2', 'elasticnet', 'none'],
        'C': [0.1, 1, 10],
        'solver': ['newton-cg', 'lbfgs', 'liblinear', 'sag', 'saga'],
        'max_iter': [100, 200, 300],


    })

}

# Perform hyperparameter tuning for each classifier
for clf_name, (classifier, param_grid) in classifiers.items():
    print(f"\nTuning hyperparameters for {clf_name}")

    # Use GridSearchCV to find the best hyperparameters
    grid_search = GridSearchCV(estimator=classifier, param_grid=param_grid, cv=3, scoring='accuracy')
    grid_search.fit(x_train, y_train)

    # Get the best hyperparameters
    best_params = grid_search.best_params_
    print(f"Best Hyperparameters for {clf_name}: {best_params}")

    # Predict on the test set using the best model
    best_model = grid_search.best_estimator_
    y_pred = best_model.predict(x_test)

    # Evaluate the model
    accuracy = accuracy_score(y_test, y_pred)
    print(f"Accuracy on Test Set for {clf_name}: {accuracy}")

Tuning hyperparameters for RandomForest
Best Hyperparameters for RandomForest: {'max_depth': None, 'min_samples_leaf': 1, 'min_samples_split': 2, 'n_estimators': 100}
Accuracy on Test Set for RandomForest: 0.8909574468085106

Tuning hyperparameters for SVM